{% for item in state_attr('media_player.bedroom_apple_tv', 'source_list')|sort %}
  - type: custom:button-card
    entity: media_player.bedroom_apple_tv
    show_state: false
    name: {{item}}
    show_entity_picture: true
    entity_picture: ../local/images/apps/{{item|lower|replace(" ","")}}.png
    aspect_ratio: 1/1
    styles:
      entity_picture:
        - width: 80%
        - filter: >
            [[[
              if (states['sensor.apple_tv_source'].state == '{{item}}')
                return 'null';
              return 'grayscale(100%)';
            ]]]
      card:
        - filter: >
            [[[
              if (states['sensor.apple_tv_source'].state == '{{item}}')
                return 'null';
              return 'opacity(50%)';
            ]]]
    tap_action:
      action: call-service
      service: media_player.select_source
      service_data:
        source: {{item}}
        entity_id: media_player.bedroom_apple_tv
{% endfor %}