{% for a in states|selectattr('entity_id','search','sensor.fire_danger*')  %}
influx delete --bucket homeassistant --start '1970-01-01T00:00:00Z' --stop $(date +"%Y-%m-%dT%H:%M:%SZ") --predicate 'entity_id="{{a.entity_id | replace("sensor.", "")}}"'
{% endfor %}