# Ignore Folders
.storage
.cloud
.google.token
.backup
__pycache__
deps
www/custom-lovelace/upcoming-media-card
www/fonts
icloud
notebooks
tts
custom_components_dev
.androidkeys
temp
neighbours
.ssh
zigbee2mqtt
image
multiscrape
gtfs2
glances

# Ignore File Extensions
*.conf
*.pickle
*.pyc
*.crt
*.csr
*.key

# Temporary files
*.db-journal
*.pid

# Ignore Specific Files
._*
.DS_Store
.spotify-token-cache
.uuid
.androidkeys/adbkey
.androidkeys/adbkey.pub
secrets.yaml
known_devices.yaml
home-assistant_v2.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
google_calendars.yaml
www/images/radar_moree_256km.gif
www/images/radar_namoi_128km.gif
README_Dev.md
zigbee.db
zigbee.db-shm
zigbee.db-wal
airsonos.xml
.xbox-token.json
.pip_progress
isort.cfg
.prettierrc.js
.prettierrc.yaml
.homekit.state
.Google Fit_google_fit.token
alexa*.html
temp.yml
yamlint_errors.txt
.ip_authenticated.yaml
.google_fit.token
check_config.txt
watchman_report.txt
file.log
solcast.json
rtsp*
sonos_playlist.yaml
icloud3*.log
persist_notify.log

node-red/*
!node-red/flows.json
!node-red/settings.js

!entities/multiscrape
!custom_components/multiscrape
!custom_components/gtfs2