- id: '1751697921200'
  alias: Restart Zigbee2MQTT if lights unavailable
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - light.office_lamp
    - light.bedroom_lamp
    to: unavailable
    for:
      hours: 0
      minutes: 5
      seconds: 0
  conditions: []
  actions:
  - action: hassio.addon_restart
    metadata: {}
    data:
      addon: 45df7312_zigbee2mqtt
  mode: single
- id: '1767396737607'
  alias: '[TIME] Sync IKEA ALPSTUGA'
  description: ''
  triggers:
  - at: 03:15:00
    trigger: time
  - entity_id:
    - switch.alpstuga_air_quality_monitor
    from:
    - unavailable
    to:
    trigger: state
  actions:
  - delay:
      hours: 0
      minutes: 0
      seconds: 5
      milliseconds: 0
  - action: matter_time_sync.sync_time
    data:
      node_id: 22
      endpoint: 0
  mode: restart
- id: '1769834483895'
  alias: '[FlightRadar24] Set Airport'
  description: ''
  triggers:
  - trigger: homeassistant
    event: start
  conditions: []
  actions:
  - action: text.set_value
    metadata: {}
    target:
      entity_id: text.flightradar24_airport_track
    data:
      value: YSTW
  mode: single
