{% macro dewpoint_level(temp) %}
  {%- set temperature = temp -%}
  {%- if temperature >= 25 -%}
      {%- set value = "Miserable" -%}
  {%- elif temperature >= 20 -%}
      {%- set value = "Oppressive" -%}
  {%- elif temperature >= 18 -%}
      {%- set value = "Uncomfortable" -%}
  {%- elif temperature >= 15 -%}
      {%- set value = "Sticky/Humid" -%}
  {%- elif temperature >= 12 -%}
      {%- set value = "Comfortable" -%}
  {%- elif temperature >= 12 -%}
      {%- set value = "Pleasent" -%}
  {%- elif temperature >= 5 -%}
      {%- set value = "Dry" -%}
  {%- elif temperature < 5 -%}
      {%- set value = "Very Dry" -%}
  {%- endif -%}
  {{ value }}
{% endmacro %}