{% macro next_birthday_days() %}
{%- set birthdays = expand(integration_entities('anniversaries'))
  |selectattr("state", 'is_number')
  |rejectattr('entity_id','search','sensor.anniversary_days*')
  |rejectattr('entity_id','search','sensor.anniversary_myworkbirthday')
  |sort(attribute='attributes.weeks_remaining', reverse=false)|map(attribute='entity_id')|list %}
{{ states(birthdays[0]) }}
{% endmacro %}

{% macro next_birthday_friendly_name() %}
{%- set birthdays = expand(integration_entities('anniversaries'))
  |selectattr("state", 'is_number')
  |rejectattr('entity_id','search','sensor.anniversary_days*')
  |rejectattr('entity_id','search','sensor.anniversary_myworkbirthday')
  |sort(attribute='attributes.weeks_remaining', reverse=false)|map(attribute='entity_id')|list %}
{{ state_attr(birthdays[0], 'friendly_name') }}
{% endmacro %}

{% macro next_birthday_years() %}
{%- set birthdays = expand(integration_entities('anniversaries'))
  |selectattr("state", 'is_number')
  |rejectattr('entity_id','search','sensor.anniversary_days*')
  |rejectattr('entity_id','search','sensor.anniversary_myworkbirthday')
  |sort(attribute='attributes.weeks_remaining', reverse=false)|map(attribute='entity_id')|list %}
{{ state_attr(birthdays[0], 'years_at_anniversary') }}
{% endmacro %}