substitutions:
  name: inkplate5
  haname: inkplate5
  friendly_name: Inkplate 5
  esphome_comment: Inkplate 5
  # ip_address: 192.168.1.231
  # ip_gw: 192.168.1.1
  # ip_netmask: 255.255.255.0
  log_level: debug  # Enable levels logging https://esphome.io/components/logger.html
                    # none, error, warn, info, debug (default), verbose, very_verbose

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  comment: ${esphome_comment}
  name_add_mac_suffix: true

esp32:
  board: esp-wrover-kit
  cpu_frequency: 240MHz
  framework:
    type: esp-idf

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # manual_ip:
  #   static_ip: ${ip_address}
  #   gateway: ${ip_gw}
  #   subnet: ${ip_netmask}
  ap:
    ssid: ${name} Fallback"
    password: !secret ap_password

logger:
  level: ${log_level}
  logs:
    text_sensor: WARN

# Enable Home Assistant API
api:
  password: ""

captive_portal:

web_server:
  port: 80

ota:
  - platform: esphome
    id: ota_esphome
  - platform: http_request
    id: ota_http_request

http_request:

switch:
  - platform: restart
    name: "Inkplate Reboot"
    id: reboot

  - platform: template
    name: "Inkplate Greyscale mode"
    lambda: return id(inkplate_display).get_greyscale();
    turn_on_action:
      - lambda: id(inkplate_display).set_greyscale(true);
    turn_off_action:
      - lambda: id(inkplate_display).set_greyscale(false);

  - platform: template
    name: "Inkplate Partial Updating"
    lambda: return id(inkplate_display).get_partial_updating();
    turn_on_action:
      - lambda: id(inkplate_display).set_partial_updating(true);
    turn_off_action:
      - lambda: id(inkplate_display).set_partial_updating(false);

i2c:

pca6416a:
  - id: pca6416a_hub
    address: 0x20

binary_sensor:
  - platform: status
    name: "Inkplate Status"
    id: system_status

time:
  - platform: sntp
    id: esptime

font:
  - file:
      type: gfonts
      family: Ubuntu
      weight: 500
    id: Medium_10pt
    size: 10
  - file:
      type: gfonts
      family: Ubuntu
      weight: 500
    id: Medium_12pt
    size: 12
  - file:
      type: gfonts
      family: Ubuntu
      weight: 500
    id: Medium_14pt
    size: 14
    glyphs: "'!%()+=,-_.:°0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ íëabcdefghijklmnopqrstuvwxyz&/"
  - file:
      type: gfonts
      family: Ubuntu
      weight: 700
    id: Bold_24pt
    size: 24
    glyphs: "'!%()+=,-_.:°0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ íëabcdefghijklmnopqrstuvwxyz&/"
  - file:
      type: gfonts
      family: Ubuntu
      weight: 700
    id: Bold_60pt
    size: 60
    glyphs: "'!%()+=,-_.:°0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ íëabcdefghijklmnopqrstuvwxyz&/"


psram:

display:
- platform: inkplate
  id: inkplate_display
  greyscale: true
  partial_updating: false
  update_interval: never
  model: inkplate_5 # or inkplate_5_v2

  ckv_pin: 32
  sph_pin: 33
  gmod_pin:
    pca6416a: pca6416a_hub
    number: 1
  gpio0_enable_pin:
    pca6416a: pca6416a_hub
    number: 8
  oe_pin:
    pca6416a: pca6416a_hub
    number: 0
  spv_pin:
    pca6416a: pca6416a_hub
    number: 2
  powerup_pin:
    pca6416a: pca6416a_hub
    number: 4
  wakeup_pin:
    pca6416a: pca6416a_hub
    number: 3
  vcom_pin:
    pca6416a: pca6416a_hub
    number: 5

  lambda: |-
    it.fill(COLOR_ON);

    it.print(100, 100, id(Bold_24pt), COLOR_OFF, TextAlign::TOP_LEFT, "ESPHome");

    it.strftime(400, 300, id(Bold_24pt), COLOR_OFF, TextAlign::CENTER, "%Y-%m-%d", id(esptime).now());
    it.strftime(400, 400, id(Bold_60pt), COLOR_OFF, TextAlign::CENTER, "%H:%M", id(esptime).now());

    if (id(system_status).state) {
      it.print(700, 100, id(Bold_24pt), COLOR_OFF, TextAlign::TOP_RIGHT, "Online");
    } else {
      it.print(700, 100, id(Bold_24pt), COLOR_OFF, TextAlign::TOP_RIGHT, "Offline");
    }